@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:700&display=swap');

:root {
  --mainColor:rgba(255,211,0, 0.4);
}

$eqb-color: #FBCF33;
$base-text: #313131;

html {
  height: 100vh;
  min-height: fit-content;
}

body {
  height: 100%;
  padding: 5% 6%;
  font-family: 'Nunito Sans', sans-serif;
  color:$base-text;
}

@media (min-width: 768px) {
  body {
    padding: 2% 3%;
  }
}

p {
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;

}

@media screen and (max-width: 768px) {
  .desktop {display: none;}
} 

@media screen and (min-width: 768px) {
  .mobile {display: none;}
}

.normal-text {
  font-size: 1.5em;
}

.nav-brand {
  color: $base-text;
  font-size: 1.25em;
}

.linkedin-profile {
  width: 100%;
  vertical-align: middle;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.home-padding {
  margin: 8% 15% 15% 15%;
}

.title-1 {
  font-size: 3rem;
  font-weight: 700;
}

.title-1a {
  font-size: 2.6rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.title-2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.title-2a {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 8px 0;
  text-align: center;
}

.eqbank, .eqbank:hover {
  color: $eqb-color;
  text-decoration: none;
}

.hvr-grow {
  display: inline-block;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.07);
}

.footer-text {
  font-size: 1.25em;
  font-weight: 300;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 85vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.space {
  padding: 0.4em; // space between footer icons //
}

.remove-space {
  padding: 0 0;
  border:  0 0;
  margin: 0 0;
}

// for react-transition-group
.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 350ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 200ms linear;
}